<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <settings>
            <setting name="RaiseRequestErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CharacterPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeakText" serializeAs="String">
                <value> Say something</value>
            </setting>
            <setting name="ThinkText" serializeAs="String">
                <value>Think something</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </settings>
    </userSettings>
</configuration>
