<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AgentCharacterEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AgentCharacterEditor.Properties.Settings>
            <setting name="CharacterNodeExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimationsNodeExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatesNodeExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="ShowFrameTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedNameLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FramesViewScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FramesViewBranching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FramesViewExitBranching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationPreviewRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimationPreviewRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimationPreviewMute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLarge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewSmall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveFrameUpMovesBranchingSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveFrameUpMovesBranchingTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveFrameDownMovesBranchingSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveFrameDownMovesBranchingTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddFrameShiftsBranchingTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteFrameShiftsBranchingUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteFrameShiftsBranchingDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteFrameShiftsBranchingTarget" serializeAs="String">
                <value>True</value>
            </setting>
        </AgentCharacterEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
